{
    "dhan_config": {
        "client_code": "YOUR_DHAN_CLIENT_CODE",
        "totp_secret":  "YOUR_DHAN_TOTP_SECRET",
        "pin"        : "YOUR_DHAN_PIN",
        "remark"     : "Dhan login using TOTP"
    },
    "telegram_bot":{
        "chat_id"    : 123456789,
        "bot_token"  : "YOUR_TELEGRAM_BOT_TOKEN"
    },
    "paper_trading": true,
    "indicator_strategy_enabled": true
}
